.controlePanel__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // justify-content: space-between;
  border: 1px solid black;
  padding: 1rem 1.5rem;
  width: 30%;
  font-size: 2rem;
  align-self: auto;
  margin-right:1em;
  
  &--title {
    font-size: 1.5em;
    margin: 0 auto 1em auto ;
  }

  &--text {
    margin-left: 1rem;
  }

  &--box {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--button {
      width: 100%;
      margin: 0 .5em;
      height: 4em;
      font-size: 1em;
      &--incr {
        margin: 0 1rem;
        height: 100%;
        width: 20%;
        align-self: center;
      }
    }
  }

  .pickerColor {
    display: flex;
    flex-direction: column;
    &--title {
      margin: 1rem;
    }
  }

  &--item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &--input {
    width: auto;
    height: 3.0rem;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 1rem;
  }

}
